body {
  background-color: #77736d;
}
ul {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 800px;
  height: 200px;
  list-style: none;
  margin: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
li {
  position: absolute;
  transition-duration: 0.4s;
  list-style: none;
  cursor: pointer;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
img {
  border-radius: 20px;
}
ul div {
  /* z-index: 9999; */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  bottom: -80px;
  margin: auto;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
